# Исключить виртуальное окружение
.venv/
venv/

# Исключить файлы, связанные с Git
.git/
.gitignore

# Исключить кэш pytest
.pytest_cache/

# Исключить файлы IDE
.vscode/
.idea/

# Исключить логи и временные файлы
*.log
*.tmp